.button {
  background-color: papayawhip;
  border: solid 1px #dfd2bc;
  border-radius: 3px;
  color: palevioletred;
  font-weight: bold;
  padding: 8px 22px;
}

.button1 {
  composes: button;
  background-color: palegreen;
  color: crimson;
}

.button2 {
  composes: button;
  background-color: skyblue;
  color: coral;
  margin-left: 10px;
}

.button3 {
  composes: button;
  background-color: palevioletred;
  color: palegreen;
  margin-left: 10px;
}
