.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s linear opacity;
}

.button:hover {
  opacity: 0.9;
}

.button:last-child {
  margin-right: 10px;
}
