.background {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
}

.darkBackground {
  background: rgba(0, 0, 0, 0.6);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container {
  display: flex;
  position: relative;
  z-index: 10;
}

.modalContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20%;
  position: absolute;
  width: 100%;
}
